# Ignore node_modules folder
node_modules/

# Ignore environment variable files
.env

# Optionally ignore logs and debugging files
npm-debug.log
yarn-debug.log
yarn-error.log

# Optionally ignore the coverage folder created by testing tools
coverage/

# Optionally ignore local development environment settings
.DS_Store
.idea/
.vscode/

# Ignore the build directory if you have it (for production builds)
build/
dist/
